@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: #EEF1FC;
  --background-end-rgb: #EEF1FC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: #EEF1FC;
    --background-end-rgb: #EEF1FC;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  /* @apply text-purple-600 */
}

label {
  @apply text-purple-500
}

input:focus, textarea:focus, select:focus {
  /* @apply border focus:border-purple-600 */
}

input:focus, textarea:focus, select:focus {
  border-color: #805ad5; 
  outline: none;
}

.topbar {
  @apply fixed top-0 z-30 flex w-full items-center justify-between px-6 py-3;
}

.leftsidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r pb-5 pt-28 max-md:hidden;
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}