@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: #EEF1FC;
  --background-end-rgb: #EEF1FC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: #EEF1FC;
    --background-end-rgb: #EEF1FC;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  /* @apply text-purple-600 */
}

label {
  @apply text-purple-500
}

input:focus, textarea:focus, select:focus {
  @apply border focus:border-purple-600
}

input:focus, textarea:focus, select:focus {
  border-color: #805ad5; 
  outline: none;
}